html,body{
    height: 100%;
    width: 100%;
}

body{
    position: relative;
    background: blue;
}

#game{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
}